body {
    margin: 0px auto;
    width: 800px;
    background-image: url('http://www.woohoobox.com/Uploads/UrunResimleri/buyuk/to-do-list---kalem-kampanya-urunudefter--f1a3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  ul {
    margin-top: 0;
    padding: 0;
  }
  

  ul li {
      
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 8px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
  
  }
  
  ul li:nth-child(even) {
    background:cyan;
   
  }
  
  ul li:hover {
    background:red;
  }
  

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px 16px 7px 16px;
    font-size: 1.5em;
  }
  
  .close:hover {
    background-color:blueviolet;
    color: white;
    border-radius: 20px;
  }
  
.header {
    
    padding: 100px 40px;
    color: white;
    text-align: center; 
  }

  input {
    margin: 0;
    border:darkorange;
    border-radius: 20px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    background-color: lawngreen;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 10%;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 30px;
    background-color: lawngreen;
    font-weight: bold;
    color:black;
    
  }
  
  .addBtn:hover {
    background-color:darkred;
    color:white;
  }